@import "../../assets/css/dimens.scss";
@import "../../assets/css/colors.scss";
@import "../../assets/css/style.scss";

.goods {
  background-color: $bgColor;
  overflow: hidden;
  overflow-y: auto;
  &-item{
    background-color: white;
    padding: $marginSize;
    box-sizing: border-box;

    &-desc{
      width: 100%;

      &-name{
        font-size: $infoSize;
        line-height: px2rem(18);
        &-hint {
          color: $hintColor;
        }
      }

      &-data{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: $marginSize;
        &-price{
          font-size: $titleSize;
          color: $mainColor;
          font-width: 500;
        }
        &-volume{
          font-size: $infoSize;
          color: $hintColor;
        }
      }
    }
  }
}

// 瀑布流
.goods-waterfall{
  position: relative;
  margin: $marginSize;
  &-item{
    position: absolute;
    width: 49%;
    border-radius: $radiusSize;

    .goods-item-img{
      width: 100%;

    }
  }
}

// 垂直
.goods-list{
  &-item {
    display: flex;
    border-bottom: 1px solid $lineColor;
    .goods-item-img{
      width: px2rem(120);
      height: px2rem(120);
    }
    .goods-item-desc{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: $marginSize;
    }
  }
}

// 网格布局
.goods-grid{
  padding: $marginSize;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-item{
    width: 49%;
    border-radius: $radiusSize;
    margin-bottom: $marginSize;
    .goods-item-img{
      width: 100%;
    }
  }
}
