@import "../../assets/css/dimens.scss";
.container{
  :global{
    .swiper-pagination{
      bottom: px2rem(12);
      line-height: 0;
      .custom-bullet-class{
        box-sizing: border-box;
        border-radius: 100%;
        height: px2rem(6);
        width: px2rem(6);
        border: px2rem(1) solid #fff;
        margin: 0 px2rem(4);
        display: inline-block;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: white;
      }
    }
  }
}

