@import "../../assets/css/dimens";
@import "../../assets/css/colors";

.goods-item-name-driect{
  padding: 0 px2rem(4);
  font-size: $minInfoSize;
  color: white;
  background-color: $mainColor;
  border-radius: px2rem(2);
  margin-right: px2rem(2);
}
